/* เลือกคลาส .m-0 และกำหนดสีพื้นหลังเป็นสีดำ */
.m-0 {    
    color: #007bff; /* สีน้ำเงิน */
    font-weight: bold; /* ตัวหนังสือหนาขึ้น */
    letter-spacing: 1px; /* ระยะห่างระหว่างตัวอักษร */
    text-transform: uppercase; /* แปลงเป็นตัวพิมพ์ใหญ่ทั้งหมด */
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5); /* เงาใส */    
}