/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.75rem;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
}

body {
  /*color: var(--white-color);*/
  background-color: #e5ecfb;
}

input,
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== LOGIN ===============*/
.login {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}
.login__img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.login__form {
  position: relative;
  background-color: hsla(241, 72%, 86%, 0.1);
  border: 2px solid rgb(10, 10, 10);
  margin-inline: 1.5rem;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(2px);
}
.login__title {
  color: rgb(12, 12, 12); /* เปลี่ยนสีของตัวหนังสือเป็นสีม่วงเข้ม */
  text-shadow: 1px 1px lavender; /* เพิ่มเงาตัวหนังสือเป็นสีม่วงอ่อน */
  text-align: center;
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 2rem;
}
.login__content, .login__box {
  display: grid;
}
.login__content {
  row-gap: 1.75rem;
  margin-bottom: 2.0rem;
}
.login__box {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 0.75rem;
  border-bottom: 2px solid var(--white-color);
}
.login__icon, .login__eye {
  font-size: 1.25rem;
}
.login__input {
  width: 100%;
  padding-block: 0.8rem;
  background: none;
  color: var(--white-color);
  position: relative;
  z-index: 1;
  
}
.login__box-input {
  position: relative;
  border: 1px solid darkviolet; /* Change "darkviolet" to your preferred purple color */
}
.login__label {
  position: absolute;
  left: 0;
  top: 13px;
  font-weight: var(--font-medium);
  transition: top 0.3s, font-size 0.3s;
  color: rgb(12, 12, 12); /* เพิ่มบรรทัดนี้เพื่อเปลี่ยนสีตัวหนังสือเป็นสีขาว */
}
.login__eye {
  position: absolute;
  right: 0;
  top: 18px;
  z-index: 10;
  cursor: pointer;
}
.login__box:nth-child(2) input {
  padding-right: 1.8rem;
}
.login__check, .login__check-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login__check {
  margin-bottom: 1.5rem;
}
.login__check-label, .login__forgot, .login__register {
  font-size: var(--small-font-size);
  font-size: 16px; /* ขยายขนาดตัวหนังสือเป็น 20px */
  color: rgb(5, 5, 5); /* เพิ่มบรรทัดนี้เพื่อเปลี่ยนสีตัวหนังสือเป็นสีขาว */
}
.login__check-group {
  column-gap: 0.5rem;
}
.login__check-input {
  width: 16px;
  height: 16px;
}
.login__forgot, .login__register {
  color: var(--white-color);
  font-size: 16px; /* ขยายขนาดตัวหนังสือเป็น 20px */
  color: rgb(5, 5, 5); /* เพิ่มบรรทัดนี้เพื่อเปลี่ยนสีตัวหนังสือเป็นสีขาว */
}
.login__forgot:hover {
  text-decoration: underline;
  color:rgb(253, 251, 253); /* เพิ่มบรรทัดนี้เพื่อเปลี่ยนสีตัวหนังสือเป็นสีขาว */
}
.login__button {
  color: rgb(10, 10, 10); /* เปลี่ยนสีตัวหนังสือเป็นสีขาว */
  width: 100%;
  padding: 1rem;
  border-radius: 1.5rem;
  background-color: var(--purple-color);
  font-weight:bold;
  font-size: 22px; /* ขยายขนาดตัวหนังสือเป็น 20px */
  cursor: pointer;
  margin-bottom: 2rem;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    color:rgb(253, 251, 253);
    background-color: var(--purple-color-2);
  }
}
.login__register {
  text-align: center;
  font-weight:bold;
  font-size: 18px; /* ขยายขนาดตัวหนังสือเป็น 20px */
  color: rgb(10, 10, 10); /* เพิ่มบรรทัดนี้เพื่อเปลี่ยนสีตัวหนังสือเป็นสีขาว */
}
.login__register a {
  font-weight:bold;
  font-size: 18px; /* ขยายขนาดตัวหนังสือเป็น 20px */
  color: var(--white-color);
  font-weight: var(--font-medium);
}
.login__register a:hover {
  font-size: 18px; /* ขยายขนาดตัวหนังสือเป็น 20px */
  text-decoration: underline;
  color:rgb(253, 251, 253);
  text-shadow: 0 0 2px white; /* ใส่สีขอบตัวหนังสือเป็นสีขาว */
}

/* Input focus move up label */
.login__input:focus + .login__label {
  text-shadow: 0 0 5px #000;
  top: -10px;
  font-size: var(--small-font-size);
}

/* Input focus sticky top label */
.login__input:not(:placeholder-shown).login__input:not(:focus) + .login__label {
  top: -10px;
  font-size: var(--small-font-size);
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
  }
  .login__form {
    width: 432px;
    padding: 4rem 3rem 3.5rem;
    border-radius: 1.5rem;
  }
}
